# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Conda
.env
.venv

# Logs
*.log

# Models
*.pth
*.pt
*.ckpt

# Outputs
outputs/

# Data (all — raw, processed, temp upload folders)
data/

# OS Files
.DS_Store
Thumbs.db